{% extends "Users/RegistrationNavbar.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <div class="content-section">
        <form action="{% url 'User-DoctorRegistration' %}" method="POST" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Doctor Registration Form</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign up</button>
                 <button class="btn btn-outline-info">Cancel</button>
            </div>
         </form>
    </div>
{% endblock %}