{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'Users/UsersStyle.css' %}">
   {% if title %}
    <title>E-Health - {{ title }}</title>
   {% else %}
    <title>E-Health</title>
   {% endif %}
</head>
<body>
    <div class="navbar">
        <p>Navbar</p>
        <!--Add patient, add Doctor, Hospital Name, system Logo -->
    </div>
    <div class="container">
        <div class="navPane" style="height: 350px;">
            <h1>Navigation</h1>
            <!--<button class="btn"><a href="#">Doctor</a></button>
            <button class="btn"><a href="#">Patient</a></button>
            <button class="btn"><a href="#">Reports</a></button>
            <button class="btn"><a href="#">Contact Administrator</a></button>-->
            <button class="btn">Doctor</button>
            <button class="btn">Patient</button>
            <button class="btn">Reports</button>
             <button class="btn">Pharmacy Dept:</button>
            <button class="btn">Contact Administrator</button>
        </div>

        <h2>PROFILE</h2>
        <!--Write a brief background of the hospitals module and incorporate moving pictures.-->
    </div>
</body>
</html>