{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'Users/UsersStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Users/UserModules.css' %}">

    <title>Hospital Module</title>

</head>
<body>
    <div id="main">
        <nav>
            <img src="{% static 'images/logo.png' %}" alt="System Logo" style="width: 200px; height: 80px; margin-left: 5px;">
            <ul>
                <li><a  href="#">Dashboard</a></li>
                <li><a  href="#">Reports</a></li>
                <li><a  href="#">Profile</a></li>
                <li><a  href="#">Contact</a></li>
                <li><a  href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="navPane" style="height: 350px;">
            <h1>Navigation</h1>
            <!--<button class="btn"><a href="#">Doctor</a></button>
            <button class="btn"><a href="#">Patient</a></button>
            <button class="btn"><a href="#">Reports</a></button>
            <button class="btn"><a href="#">Contact Administrator</a></button>-->
            <button class="btn">Doctor</button>
            <button class="btn">Patient</button>
            <button class="btn">Reports</button>
             <button class="btn">Pharmacy Dept:</button>
            <button class="btn">Contact Administrator</button>
        </div>

        <h2>PROFILE</h2>
        <!--Write a brief background of the hospitals module and incorporate moving pictures.-->
    </div>
</body>
</html>