{% extends "Users/RegistrationNavbar.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <div class="content-section">
        <form action="{% url 'User-HospitalRegistration' %}" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Hospital Registration Form</legend>
                {{ form|crispy }}
                <div class="form-group" style="padding-top: 20px;">
                <button class="btn btn-outline-info" type="submit"><a href="{% url 'AdminModule' user.id %}">Sign up</a></button>
                <button class="btn btn-outline-warning"><a href="{{request.META.HTTP_REFERER|escape}}">Cancel</a></button>
            </div>
            </fieldset>
         </form>
    </div>
{% endblock %}
