{% extends "MedicalApp/base.html" %}
{% block content %}

    <div style="float: right; align-items: center;
    margin-right: 30%;
    margin-top: 5%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 14px 28px rgba(0,0,0,0.20),0 10px 10px rgba(0,0,0,0.22);
    width:40%;
    height: auto;
    padding-left: 100px;
    padding-top: 20px;
    color: antiquewhite;">
            <h1 style="padding-right: 50px;">Logout Page</h1>
            <p>You have logged out!</p>
           <button class="log" style="text-decoration: none;"><a href="{% url 'login' %}">Log Back in</a> </button>
    </div>


{% endblock content %}

<!--Profile redirection-->