{% extends "MedicalApp/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="input-group date" id="id_Appointment_Schedule" data-target-input="nearest">
  {{ form.date }}
  <div class="input-group-append" data-target="#id_Appointment_Schedule" data-toggle="datetimepicker">
    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
  </div>
</div>
        <input type="submit" class="btn btn-outline-info" style="text-align: center; float: right;" name="Submit">
    </form>
 <script>
  $(function () {
    $("#id_Appointment_Schedule").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>
{% endblock content %}
