{% extends "MedicalApp/base.html" %}
{% block content %}
    <!--I should be able to search through the records to narrow down data for a particular hospital-->
    <a class="btn btn-primary btn-sm btn-block" href="{% url 'AddAppointmentModule' %}">Schedule an Appointment</a>
    <table class="table">
        <tr>
            <th>Patient Name</th>
            <th>Record ID</th>
            <th>Appointment Details</th>
            <th>Appointment Schedule</th>
        </tr>
        {% for a in appoint %}
            <tr>
                <td>{{ a.Patient_ID }}</td>
                <td>{{ a.Record_ID }}</td>
                <td>{{ a.Appointment_Details }}</td>
                <td>{{ a.Appointment_Schedule }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}