{% extends "MedicalApp/base.html" %}
{% block content %}
    <!--I should be able to search through the records to narrow down data for a particular hospital-->
    <a class="btn btn-primary btn-sm btn-block" href="{% url 'AddRecordModule' %}">Add Records</a>
    <table class="table">
        <tr>
            <th>Patient Name</th>
            <th>Doctor Name</th>
            <th>Hospital Name</th>
            <th>Record Date</th>
        </tr>
        {% for p in presc %}
            <tr>
                <td>{{ p.Patient_ID }}</td>
                <td>{{ p.Doctor_ID }}</td>
                <td>{{ p.Hospital_ID }}</td>
                <td>{{ p.Record_Date }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}